form, fieldset {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: none;
}

input, .output {
  padding: 5px 5px;
  margin: 5px 0;
  border-radius: 5px;
}

#general, #education, #experience, .general-preview {
  border: 5px solid var(--accent-3);
  border-radius: 5px;
  width: 300px;
  margin: 20px 5px;
}

h3 {
  margin: 2px 5px;
  padding-top: 3px;
}

.hidden {
  display: none;
}

.input-div {
  display: flex;
  justify-content: space-between;
}